<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CS SCAN</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="logo">
    <a href="/"><img src="/img/CS_FLOAT_SCAN.png" style="width: 400px; margin-top: 50px;"alt=""></a>
  </div>