<%- include('partials/header'); -%>
<h1>Made from one degenerate</h1>
<h3>To another</h3>
<br>
<br>
<p>PS: I know my shit sucks, so dont even bother asking to fix</p>
<%- include('partials/footer'); -%>